@import "tailwindcss";

.partnership-scroll::-webkit-scrollbar {
  width: 8px;
}

.partnership-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.partnership-scroll::-webkit-scrollbar-thumb {
  background-color: #ffff00;
  border-radius: 10px;
}

.partnership-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #eab308;
}

/* Global Scrollbar Styles for the entire app */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light mode track */
}

::-webkit-scrollbar-thumb {
  background-color: #ffff00;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #eab308;
}

/* Dark mode scrollbar */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #111;
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid #111;
  }
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffff00 #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #ffff00 #111;
  }
}
